@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 207 100% 98%;
  --foreground: 240 1% 23%;
  --accent: 29 100% 63%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 207 100% 98%;
    --foreground: 240 1% 23%;
    --accent: 29 100% 63%;
  }
}

.wrapper {
  color: hsl(var(--foreground));
  background-image: url('/bg-leftv2.webp');
  background-origin: content-box;
}
.highlight {
  color: hsl(var(--accent));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
